<mtapp:setting id="google_api_key" label="<__trans phrase='Google API Key'>"
    hint="<__trans phrase="Enter your Google API Key">" show_hint=1>
    <input type="text" name="google_api_key" id="google_api_key"
        value="<$mt:Var name="google_api_key"$>" />
</mtapp:setting>
